<p>
    The {{winningTeam}} have won!
</p>
<p>Winners:</p>
<mat-table [dataSource]="players" class="mat-elevation-z8" style="width:400px; margin:auto">
    
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index;">{{i+1}}</mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let player"> {{player.Name}} </mat-cell>
  </ng-container>

  <!-- Character Name Column -->
  <ng-container matColumnDef="characterName">
    <mat-header-cell *matHeaderCellDef> Character </mat-header-cell>
    <mat-cell *matCellDef="let player"> {{player.CharacterName}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-list>
    <mat-list-item align="center">
        <button style="margin:auto" mat-raised-button class="mat-primary" (click)="goToRoomSelection()">Go To Room Selection</button>
    </mat-list-item>
</mat-list>